<form>
  <div class="row">
    <div class="main form">
      <label class='address'>Address
        <input type="text" placeholder="123 Main St">
      </label>

      <label class='city'>City
        <input type="text" placeholder="Boston">
      </label>

      <label class='state'>State
        <input type="text" placeholder="MA">
      </label>

      <label class='zip'>Zip
        <input type="text" placeholder="02110">
      </label>
    </div>

    <div>
      <input type='submit' id='submit button' value='Submit'>
    </div>
  </div>
</form>
