<h1 class='homepage-title'>Find Your Elected Official</h1>
<form>
  <div class="row">
    <div class="medium-6 columns">
      <label>Street
        <input type="text" placeholder="Main St">
      </label>
    </div>
    <div class="medium-6 columns">
      <label>Input Label
        <input type="text" placeholder=".medium-6.columns">
      </label>
    </div>
  </div>
</form>
